p {
    font-size: 3em;
}
li  {
    width: auto;
    height: 25px;
    margin: 10px;
    padding: 5px;
    border: 3px solid #73AD21;  
    display: table;
}
input[type:"button"] {
	display: table-row;
	
}
ul li input {
	margin-left: 50px;
}
ul {
    width: 600px;
}